*.md

.env
.gitignore
.rspec

.cloudformation
.github
.git

deployments
log/*
node_modules
spec
storage/*
test
tmp
vendor
/public/decidim-packs

Dockerfile
docker-compose.yml
compose.override.yml
LICENSE-AGPLv3.txt
