x-custom:
  app:
    - &rails_env "development"
    - &redis_cache_url "${REDIS_CACHE_URL:-redis://redis:6379/0}"
  postgres:
    - &postgres_user "${DATABASE_USERNAME:-postgres}"
    - &postgres_password "${DATABASE_PASSWORD:-password}"

services:
  nginx-proxy:
    image: nginx:1.21
    volumes:
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx/conf.d:/etc/nginx/conf.d
    environment:
      TZ: Asia/Tokyo
    ports:
      - 3000:80
    links:
      - app
    depends_on:
      - app

  app:
    image: decidim-cfj
    build:
      context: ./
      args:
        RAILS_ENV: *rails_env
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - rails-tmp:/app/tmp
      # exclude volumes
      - /app/vendor
      - /app/log
      - /app/.git
    environment:
      PORT: 3000
      DATABASE_HOST: pg
      DATABASE_USERNAME: *postgres_user
      DATABASE_PASSWORD: *postgres_password
      RAILS_ENV: *rails_env
      REDIS_URL: *redis_cache_url
      REDIS_CACHE_URL: *redis_cache_url
    links:
      - pg
      - redis
  pg:
    image: "ghcr.io/codeforjapan/postgresql_bigm:16-latest"
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: *postgres_user
      POSTGRES_PASSWORD: *postgres_password
    ports:
      - 5433:5432
  redis:
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

volumes:
  node_modules: {}
  pg-data: {}
  redis-data: {}
  rails-tmp: {}
