x-custom:
  app:
    # - &rails_env "development"
    - &rails_env "production"
    - &redis_cache_url "${REDIS_CACHE_URL:-redis://redis:6379/0}"
  postgres:
    - &postgres_user "${DATABASE_USERNAME:-postgres}"
    - &postgres_password "${DATABASE_PASSWORD:-password}"

services:
  #nginx-proxy:
  #  image: nginx:1.21
  #  volumes:
  #    - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
  #    - ./etc/nginx/conf.d:/etc/nginx/conf.d
  #  environment:
  #    TZ: Asia/Tokyo
  #  ports:
  #    # - 3000:80
  #    - 80:80
  #  links:
  #    - app
  #  depends_on:
  #    - app

  app:
    image: decidim-kinokawa
    build:
      context: ./
      args:
        RAILS_ENV: *rails_env
    # restart: always
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - rails-tmp:/app/tmp
      - decidim-packs:/app/public/decidim-packs 
      # exclude volumes
      - /app/vendor
      - /app/log
      - /app/.git
    ports:
      - 80:80
    environment:
      PORT: 80
      DATABASE_HOST: pg
      DATABASE_USERNAME: *postgres_user
      DATABASE_PASSWORD: *postgres_password
      RDS_HOSTNAME: pg
      RDS_DB_NAME: decidim_production
      RDS_USERNAME: *postgres_user
      RDS_PASSWORD: *postgres_password
      RDS_PORT: 5432
      RAILS_ENV: *rails_env
      NODE_ENV: *rails_env
      REDIS_URL: *redis_cache_url
      REDIS_CACHE_URL: *redis_cache_url
    env_file:
      - .env
    depends_on:
      - pg
      - redis
    links:
      - pg
      - redis
  # sidekiq (バックグラウンドジョブワーカー)
  sidekiq:
    image: decidim-kinokawa
    build:
      context: ./
      args:
        RAILS_ENV: *rails_env
    command: bundle exec sidekiq
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - rails-tmp:/app/tmp
      - decidim-packs:/app/public/decidim-packs
      # exclude volumes (appと同じ除外設定)
      - /app/vendor
      - /app/log
      - /app/.git
    environment:
      # PORTは不要
      DATABASE_HOST: pg
      DATABASE_USERNAME: *postgres_user
      DATABASE_PASSWORD: *postgres_password
      RDS_HOSTNAME: pg
      RDS_DB_NAME: decidim_production
      RDS_USERNAME: *postgres_user
      RDS_PASSWORD: *postgres_password
      RDS_PORT: 5432
      RAILS_ENV: *rails_env
      NODE_ENV: *rails_env
      REDIS_URL: *redis_cache_url
      REDIS_CACHE_URL: *redis_cache_url
    env_file:
      - .env
    depends_on:
      - app
      - pg
      - redis
    links:
      - pg
      - redis

  pg:
    image: "ghcr.io/codeforjapan/postgresql_bigm:14-latest"
    volumes:
      # - pg-data:/var/lib/postgresql/data
      - ./data/pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: *postgres_user
      POSTGRES_PASSWORD: *postgres_password
    ports:
      - 5433:5432
  redis:
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

volumes:
#  pg-data: {}
  node_modules: {}
  redis-data: {}
  rails-tmp: {}
  decidim-packs: {}
