option_settings:
  "aws:elasticbeanstalk:application:environment":
    AWS_ACCESS_KEY_ID: "{{resolve:ssm:/decidim-cfj/staging/AWS_ACCESS_KEY_ID:1}}"
    AWS_SECRET_ACCESS_KEY: "{{resolve:ssm:/decidim-cfj/staging/AWS_SECRET_ACCESS_KEY:1}}"
    AWS_CLOUD_FRONT_END_POINT: "{{resolve:ssm:/decidim-cfj/staging/AWS_CLOUD_FRONT_END_POINT:1}}"
    NEW_RELIC_AGENT_ENABLED: false
    REDIS_URL: "{{resolve:ssm:/decidim-cfj/staging/REDIS_URL:1}}"
    RDS_DB_NAME: "{{resolve:ssm:/decidim-cfj/staging/RDS_DB_NAME:2}}"
    RDS_HOSTNAME: "{{resolve:ssm:/decidim-cfj/staging/RDS_HOSTNAME:1}}"
    RDS_USERNAME: "{{resolve:ssm:/decidim-cfj/staging/RDS_USERNAME:1}}"
    RDS_PASSWORD: "{{resolve:ssm:/decidim-cfj/staging/RDS_PASSWORD:1}}"
    SECRET_KEY_BASE: "{{resolve:ssm:/decidim-cfj/staging/SECRET_KEY_BASE:1}}"
    SMTP_USERNAME: "{{resolve:ssm:/decidim-cfj/production/SMTP_USERNAME:1}}"
    SMTP_PASSWORD: "{{resolve:ssm:/decidim-cfj/production/SMTP_PASSWORD:1}}"
    SMTP_ADDRESS: email-smtp.us-east-1.amazonaws.com
    SMTP_DOMAIN: diycities.jp
    AWS_BUCKET_NAME: staging-cfj-decidim
    RAILS_SKIP_MIGRATIONS: false
    DECIDIM_COMMENTS_LIMIT: 30
