option_settings:
  "aws:autoscaling:asg":
    MinSize: 1
    MaxSize: 2
  "aws:ec2:instances":
    EnableSpot: true
    InstanceTypes: t2.small
    SpotFleetOnDemandBase: 0
    SpotMaxPrice: 0.1
  "aws:elasticbeanstalk:cloudwatch:logs":
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 14
  "aws:elasticbeanstalk:managedactions":
    ManagedActionsEnabled: true
    PreferredStartTime: "Sun:18:00"
  "aws:elasticbeanstalk:managedactions:platformupdate":
    UpdateLevel: minor
    InstanceRefreshEnabled: true
