//= require github.min
//= require codemirror
//= require inscrybmde.min
//= require_self

@import "decidim/variables";
@import "decidim/utils/settings";
@import "decidim/utils/mixins";
@import "decidim/decidim_awesome/admin/constraints";
@import "decidim/decidim_awesome/admin/codemirror";
@import "./editors/quill_editor";
@import "decidim/decidim_awesome/editors/markdown_editor";

.platoniq-credits{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .8em;
}

.decidim_awesome{
  &.modal{
    .spinner{
      @include spinner(25px, #aaa, var(--secondary), 800ms);

      vertical-align: middle;
      display: none;
    }

    &.loading{
      .spinner{
        display: inline-block;
      }
    }
  }

  &-form{
    margin-bottom: 2em;
    border-bottom: 1px solid #999;
    padding-bottom: 1.5em;
  }

  &-form:last-child{
    border-bottom: none;
    padding-bottom: 0;
  }
}

tbody tr.menu_hack-addition{
  background: rgb(255, 248, 222);
}
