<% if organization %>
  <% if defined?(custom_url_for_mail_root) && custom_url_for_mail_root.present? %>
    <% url = custom_url_for_mail_root %>
  <% else %>
    <% url = decidim.root_url(host: organization.host) %>
  <% end %>
  <%= link_to url do %>
    <% if organization.logo.attached? %>
      <%= image_tag(
            Rails.application.routes.url_helpers.rails_blob_url(organization.logo, host: organization.host, disposition: :attachment),
            style: "max-height: 50px",
            alt: organization_name(organization)
          ) %>
    <% else %>
      <span><%= organization_name(organization) %></span>
    <% end %>
  <% end %>
<% else %>
  <%= Decidim.application_name %>
<% end %>
