// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
//
// By default this is empty.
@import "./cfj/decidim";
@import "./cfj/buttons";
@import "./cfj/comment_content";
@import "./cfj/forms";
@import "./cfj/search";
@import "./cfj/media_print";
@import "./cfj/ql_html_editor";
