option_settings:
  "aws:autoscaling:launchconfiguration":
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    EC2KeyName: aws-eb
    RootVolumeSize: 100
    RootVolumeType: gp2
  "aws:autoscaling:updatepolicy:rollingupdate":
    MaxBatchSize: 1
    MinInstancesInService: 1
    RollingUpdateEnabled: true
    RollingUpdateType: Health
  "aws:autoscaling:trigger":
    LowerThreshold: 30
    MeasureName: CPUUtilization
    Statistic: Maximum
    Unit: Percent
    UpperThreshold: 60
  "aws:elasticbeanstalk:environment":
    LoadBalancerType: application
  "aws:elasticbeanstalk:environment:process:default":
    MatcherHTTPCode: 301
  "aws:elasticbeanstalk:command":
    BatchSize: 30
