<div class="wrapper">
  <div class="row collapse">
      <div class="row">
        <div class="callout announcement secondary">
          <div class="row column">
            <h3><%= t(".title") %></h3>
            <p>
              <%= t(".under_construction") %>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
