option_settings:
  aws:elasticbeanstalk:application:environment:
    SMTP_USERNAME=
    SMTP_PASSWORD=
    SMTP_ADDRESS=
    SMTP_DOMAIN=
    REDIS_URL=
    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    RDS_HOSTNAME=
    RDS_USERNAME=
    RDS_USERNAME=
    RDS_PORT=
    RDS_DB_NAME=
