name: Rails Tests

on:
  push:
    branches:
    - master
    - develop
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DATABASE_HOST: 127.0.0.1
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      RAILS_ENV: test

    services:
      db:
        image: postgres:12
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
        - 6379/tcp

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: apt-get
      run: |
        sudo apt-get update -y
        sudo apt-get -yqq install libpq-dev postgresql-client
    - name: Set up Ruby 2.7
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true

    - name: setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 16.9.1
    - name: install yarn
      run: npm i -g yarn@1.22.5

    - name: Migrate DB
      run: |
        bundle exec rails db:create db:migrate
    - name: Test with RSpec
      run: |
        bundle exec rails spec
